html {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(./assets/office.jpeg) ;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

main {
display:flex;
flex-direction: column;
align-items:center;
font-family: 'Amatic SC', cursive;
font-size: 28px;
}