@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
	box-sizing: border-box;
}

body {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 25px;
}

p {
  font-family: Oxygen;
}