body {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #155257;
}

h1 {
    font-family: 'Comfortaa', cursive;
    color: #155257;
    font-size: 30px;
}