.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
   }
 
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 25px;
    transition: 0.15s;
   }
   
 
   .container input:checked ~ .checkmark {
    background-color: rgb(50, 78, 168);
    border-radius: 25px;
    transition: 0.15s;
   }
   

   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
 
   .container input:checked ~ .checkmark:after {
    display: block;
   }
   

   .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }