body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  body {
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .wrapper {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);
    min-width: 600px;
    min-height: 750px;
    background-color: #fff;
    border: 2px solid #fff;
  }
}
