html {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */

.header {
  background-image: url("./designs/background2.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  height: 35vh;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
}

.left-header {
  width: 60%;
  padding-left: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-header h1 {
  font-weight: 400;
  font-size: 40px;
  margin: 0;
}

.left-header .date {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  margin: 7px 0;
}

.right-header {
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0.2);
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: -5px;
}

.right-header h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}

.right-header .count-paragraph {
  margin: 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.right-header .count-percentage {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 0;
}

/* Form, Task list */

.task-item,
.form {
  padding: 20px;
  border-bottom: 1px rgb(207, 205, 205) solid;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 100%;
  border: none;
  height: 20px;
  outline: none;
  font-size: 15px;
}

.task-text {
  display: inline;
  font-size: 15px;
  margin: 0;
}

.submit-button {
  display: none;
}
