body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* background-image: url('/public/images/background-image.jpg');
    background-size: cover; */
    background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin-top: 20px;
}

.list-box {
  border: solid;
  border-radius: 20px;
  padding: 1rem 1rem 1rem 1rem;
  margin: 2rem 2rem 0rem 2rem;
}

@media only screen and (min-width: 768px) {
  .main-container {
    margin: 4rem 11.5rem 2rem 11.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(73, 69, 69, 0.823), 0px 8px 16px rgba(119, 108, 108, 0.866), 0px 12px 24px rgba(73, 69, 69, 0.823);
  }

  .gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, black, white);
    animation: gradient-background 10s ease-in-out infinite;
  }
  
  @keyframes gradient-background {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .particle-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .particle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.1px;
    height: 0.1px;
    border-radius: 50%;
    background-color: rgb(213, 206, 206);
    box-shadow: 0px 0px 40px 20px rgb(213, 206, 206);
    animation: particle 10s ease-in-out infinite;
  }
  
  @keyframes particle {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.1);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.1);
    }
  }
  
  .particle:nth-child(1) {
    top: 20%;
    left: 20%;
    animation-delay: 0s;
  }
  
  .particle:nth-child(2) {
    top: 80%;
    left: 20%;
    animation-delay: 2s;
  }
  
  .particle:nth-child(3) {
    top: 85%;
    left: 85%;
    animation-delay: 4s;
  }
  
  .particle:nth-child(4) {
    top: 20%;
    left: 80%;
    animation-delay: 6s;
  }
  
  .particle:nth-child(5) {
    top: 50%;
    left: 90%;
    animation-delay: 8s;
  }
  
  .particle:nth-child(6) {
    top: 5%;
    left: 90%;
    animation-delay: 10s;
  }
  
  .particle:nth-child(7) {
    top: 90%;
    left: 50%;
    animation-delay: 12s;
  }
  
  .particle:nth-child(8) {
    top: 10%;
    left: 10%;
    animation-delay: 14s;
  }
  
  .particle:nth-child(9) {
    top: 40%;
    left: 15%;
    animation-delay: 16s;
  }
  }

@media only screen and (min-width: 1025px) {
  .main-container {
    margin: 7rem 30rem 2rem 30rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(73, 69, 69, 0.823), 0px 8px 16px rgba(119, 108, 108, 0.866), 0px 12px 24px rgba(73, 69, 69, 0.823);
  }

  .gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, black, white);
    animation: gradient-background 10s ease-in-out infinite;
  }
  
  @keyframes gradient-background {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .particle-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .particle {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 0.1px;
    height: 0.1px;
    border-radius: 50%;
    background-color: rgb(224, 29, 4);
    box-shadow: 0px 0px 40px 20px rgb(224, 29, 4);
    animation: particle 10s ease-in-out infinite;
  }
  
  @keyframes particle {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.1);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.1);
    }
  }
  
  .particle:nth-child(1) {
    top: 20%;
    left: 20%;
    animation-delay: 0s;
  }
  
  .particle:nth-child(2) {
    top: 80%;
    left: 20%;
    animation-delay: 2s;
  }
  
  .particle:nth-child(3) {
    top: 85%;
    left: 85%;
    animation-delay: 4s;
  }
  
  .particle:nth-child(4) {
    top: 20%;
    left: 80%;
    animation-delay: 6s;
  }
  
  .particle:nth-child(5) {
    top: 50%;
    left: 90%;
    animation-delay: 8s;
  }
  
  .particle:nth-child(6) {
    top: 5%;
    left: 90%;
    animation-delay: 10s;
  }
  
  .particle:nth-child(7) {
    top: 90%;
    left: 50%;
    animation-delay: 12s;
  }
  
  .particle:nth-child(8) {
    top: 10%;
    left: 10%;
    animation-delay: 14s;
  }
  
  .particle:nth-child(9) {
    top: 40%;
    left: 15%;
    animation-delay: 16s;
  }
  
}