body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


:root {
  --edge: transparent  ;
  --background: #884eca;

  --Tsmall: 1em;
  --Tmedium: 2em;

  box-sizing:border-box;

}

body {
  background: rgb(195, 131, 248);
}

.lava {
  filter: url("#goo");

  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.blob {
  border-radius: 50%;
  background: var(--background);
  opacity: 1;
  position: absolute;
}

.blob:nth-child(1) {
  width: 200px;
  height: 200px;
  left: 35%;
  bottom: -15%;
  /* box-shadow: 0 0 5px 10px var(--edge); */

  animation: wobble 4s ease-in-out alternate infinite,
    blob-one ease-in-out 23s infinite;
}
.blob:nth-child(2) {
  width: 330px;
  height: 330px;
  right: 24%;
  bottom: -65%;
  box-shadow: 0 0 5px 10px var(--edge);

  animation: wobble 5s ease-in-out alternate infinite,
    blob-two ease-in-out 32s infinite;
}
.blob:nth-child(3) {
  width: 150px;
  height: 150px;
  bottom: -15%;
  left: 34%;
  box-shadow: 0 0 5px 10px var(--edge);

  animation: wobble 6s ease-in-out alternate infinite,
    blob-three ease-in-out 46s infinite;
}
.blob:nth-child(4) {
  width: 235px;
  height: 235px;
  bottom: -19%;
  left: 30%;
  box-shadow: 0 0 5px 10px var(--edge);

  animation: wobble 7s ease-in-out alternate infinite,
    blob-four ease-in-out 22s infinite;
}

.blob:nth-child(5) {
  width: 55px;
  height: 55px;
  bottom: -25%;
  left: 34%;
  box-shadow: 0 0 5px 10px var(--edge);

  animation: wobble 9s ease-in-out alternate infinite,
    blob-five ease-in-out 40s infinite;
}
.blob:nth-child(6) {
  width: 35px;
  height: 35px;
  bottom: -25%;
  right: 34%;
  box-shadow: 0 0 5px 10px var(--edge);

  animation: wobble 10s ease-in-out alternate infinite,
    blob-six ease-in-out 20s infinite;
}
.blob:nth-child(7) {
  width: 435px;
  height: 435px;
  bottom: -85%;
  right: 40%;
  box-shadow: 0 0 5px 10px var(--edge);

  animation: wobble 11s ease-in-out alternate infinite,
    blob-seven ease-in-out 32s infinite;
}
@keyframes blob-one {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-700%);
  }
}

@keyframes blob-two {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-420%);
  }
}

@keyframes blob-three {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-305%);
  }
}
@keyframes blob-four {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-605%);
  }
}
@keyframes blob-five {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-700%);
  }
}
@keyframes blob-six {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-700%);
  }
}
@keyframes blob-seven {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-300%);
  }
}

@keyframes wobble {
  50% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }
  100% {
    border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
  }
}
