body {
background: #e9d362;
background: -webkit-linear-gradient(to right, #e9d362, #333333); 
background: linear-gradient(to right, #e9d362, #333333);
  margin: 16% 20%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.p {
  font-family: 'Gagau';
}
