*{
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaf4ef;
  display: block;
    margin: 8px;
    background-image: url("background.png") ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app-container{
  display: flex;
  flex-direction: column;
  background-color:hsl(324, 83%, 98%);
  border-radius: 2.8rem;
  box-shadow: 0 0.5rem 2rem #383737;
  margin: 0 auto;
  min-height: 95vh;
  width: 100%;
}

h1{
 color:  rgb(121, 182, 193);
 text-align: center;
}

h2{
  text-align: center;
  color:  rgb(121, 182, 193);
 
 }

 h3{
  text-align: center;
 }

 .Footer{
  padding: 10px;
  text-align: center;
  color:  rgb(121, 182, 193);
 }

 @media (min-width: 200px) and (max-width: 374px) {
  .app-container {
    margin-top: 2rem;
    width: 50%;
    min-height: 60vh;
  }
}

 @media (min-width: 668px) and (max-width: 1024px) {
  .app-container {
    margin-top: 2rem;
    width: 50%;
    min-height: 60vh;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .app-container {
    margin-top: 2rem;
    width: 35%;
    min-height: 60vh;
  }
}

@media (min-width: 1441px){
  .app-container {
    margin-top: 3rem;
    border: 2px solid #1F9D6E;
    width: 25%;
    min-height: 60vh;
  }
}



