
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

body {
  margin: 0;
  font-family: 'Mystery Quest', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

code {
  font-family: 'Mystery Quest', cursive
}

.app-container {
  border: 1px solid black;
  margin: auto;
  width: 350px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-footer {
  display: flex;
  justify-content: center;
  background-color: rgb(195, 234, 221);
  height: 100px;
  width: 100vw;
}
.section-header {
  display: flex;
  flex-direction: row;
}

@media (min-width: 668px) {
  .app-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
  }
 
}

