:root {
	--clr-main: #202020;
	--clr-main-opacity: #c4c4c416;
	--clr-secondary: #fff;
	--clr-accent: #c86796;
	--clr-gray: #a3a3a3;
}

body {
	display: flex;
	justify-content: center;
	background: var(--clr-gray);
	background-image: url('../src/assets/hearts.jpg');
	/* background-image: url('../src/assets/background.jpg'); */
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	letter-spacing: 1.1px;
	font-family: 'Imprima', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Imprima', 'Ubuntu', sans-serif;
}

.app-wrapper {
	width: 350px;
	margin: 2em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (min-width: 667px) {
	.app-wrapper {
		width: 500px;
	}
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	margin: 0;
	padding: 1em 0.65em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--clr-main);
	min-height: 75vh;
	padding-bottom: 2em;
	overflow-y: scroll;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border: 2px solid var(--clr-accent);
	border-top: none;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: 'Imprima', 'Ubuntu', sans-serif;
	letter-spacing: 1.5px;
	border: none;
	border-bottom: 2px solid var(--clr-accent);
	outline: none;
}

input:focus-visible {
	border: var(--clr-accent);
	outline: -webkit-focus-ring-color var(--clr-accent) 1px;
}

input[type='checkbox'] {
	align-self: flex-start;
	display: inline-block;
	border: 1px solid var(--clr-accent);
	height: 15px;
	width: 15px;
	position: relative;
	bottom: -0.5em;
	right: 0.5em;
	margin: 0;
	cursor: pointer;
}

input.new-content {
	position: absolute;
	width: auto;
	bottom: 0;
	left: 1em;
	width: 223px;
	height: 25px;
	background: var(--clr-main);
	color: var(--clr-secondary);
}

input[type='checkbox']:checked {
	content: '';
	display: inline-block;
	background-image: url('../src/assets/checkmark.svg');
	background-repeat: no-repeat;
	border: none;
}

.completed {
	text-decoration: line-through;
	color: var(--clr-gray) !important;
}
