html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url("images/background.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


