@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat&display=swap');

body {
  margin: 15px;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
button {
 font-family: 'Merriweather', serif;
}

.root {
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

p {
  margin: 0;
}
