:root {
  background-color: #D2D6D9;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 0px;
}

.task {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0px;
  padding: 15px;
  border-radius: 10px;
  /* background-color: #53d3cf; */
}

.checkbox-spacer {
  margin-right: 10px;
}

.new-task-wrapper {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  /* border: 2px solid black; */
}

.new-task-text {
  margin: 8px;
  flex-basis: 80%;
}

.new-task-submit {
  display: flex;
  justify-content: center;
  margin: 0px 8px 0px 15px;
}

.stats, .time {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center;
}

/*TOFIX: .total is unused for now*/
.completed, .total {
  color: teal;
  padding-top: 15px;
  line-height: 200%;
}

.completed {
  color: teal;
}