.form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
}

.input-filed {
  height: 50px;
  border: none;
  font-size: 21px;
  background-color: rgb(255, 125, 102);
  padding-left: 10px;
  width: inherit;
  color: white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(250, 176, 163);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(250, 176, 163);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(250, 176, 163);
}

.submitt-button {
  border: none;
  width: 50px;
  height: 50px;
  background: tomato;
  color: white;
  font-weight: bold;
  font-size: 21px;
}