.tasklist-container {
  background-color: black;
  justify-content: center;
  align-items: center;
}

.header-container h2 {
  font-size: 1.5rem;
  font-weight: 1500;
  margin-bottom: 1rem;
  margin-top: 0rem;
  color: #C60012;
  font-family: 'Mitr', sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.tasklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}

.list-wrapper {
  margin: auto;
}

.singletask-container {
  color: white;
  height: 3rem;
  width: 85%;
  display: flex;
  align-items: center;

}

.fade-out {
  animation-name: fade-out;
  animation-duration: 1s; /* or however long you want the animation to last */
  opacity: 0;
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}


.singletask-container p {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 0;
  width: 100%;
  flex: 1;
}

.singletask-container span {
  margin-top: 0.2rem;
  color: white;
  font-size: 16px;
  font-family: 'Pathway Extreme', sans-serif;
  font-weight: 400;

}


.singletask-container input[type="checkbox"] {
  margin-right: 1rem;
  margin-left: -1rem;
}

[type="checkbox"]{
  opacity: 0;
}

[type="checkbox"]:focus {
  outline: none;
}


[type="checkbox"] + label{
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  line-height: 24px;
  margin-bottom: 18px;
} 

[type="checkbox"] + label::before{
  content:"";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  left: 0;
  top: 0;
  border-radius: 50%;
}

[type="checkbox"]:checked + label::before{
  content:"";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  left: 0;
  top: 0;
}

[type="checkbox"]:checked + label::after{
  content:"";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('/public/assets/circle-check-regular.svg');
  background-size: contain;
  left: 0;
  top: 0;
  transform: scale(1);
  opacity: 1;
  transition: all .3s ease;
}

[type="checkbox"]:not(:checked) + label::after{
  content:"";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url('/public/assets/circle-check-regular.svg');
  background-size: contain;
  left: 0;
  top: 0;
  transform: scale(0);
  opacity: 0;
}


.tasklist-container ul li {
  font-size: 0.9rem;
  list-style-type: none;
}

.taskdeletebtn {
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  background-color: black;
  margin-left: auto;
}

@media only screen and (min-width: 1025px) {

}


  
  