[type='checkbox'] {
  opacity: 0;
  display: none;
}
[type='checkbox'] + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  display: inline-block;
  color: #666;
  line-height: 24px;
}

[type='checkbox'] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
  width: 24px;
  height: 24px;
  outline: 2px solid #aaa;
  background: #fff;
}

[type='checkbox']:checked + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
  width: 24px;
  height: 24px;
  outline: 2px solid #87b164;
  background: #fff;
}

[type='checkbox']:checked + label::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
  width: 24px;
  height: 24px;
  background-image: url('Assets/checkmark.svg');
  background-size: contain;
  transform: scale(1);
  opacity: 1;
  transition: all 0.2s ease;
}

[type='checkbox']:not(:checked) + label::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
  width: 24px;
  height: 24px;
  background-image: url('Assets/checkmark.svg');
  background-size: contain;
  transform: scale(0);
  opacity: 0;
  transition: all 0.2s ease;
}
