form {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.submitButton {
    margin-left:10px;
    border:1px solid black;
    background-color:white;
    border-radius:16px;
    font-family: 'Amatic SC';
    font-weight: bold;
}