body {
  background-color: white;
}

.addingTodo {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.addingTodo textarea {
  width: 250px;
  height: 40px;
  resize: none;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-right: 10px;
}

.addingTodo button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
