.input-field {
  border-bottom: 1.5px solid;
  width: 260px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 20px;
  font-family: Inconsolata;
  padding-top: 15px;
  margin-right: 10px;
  font-size: 15px;
}

.add-button {
  border: 0.5px solid #929394;
  font-size: 25px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  border-radius: 50%;
  color: white;
  background-color: #4cbbb9;
}

.add-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

label {
  padding-top: 30px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 20px;
}

.input-field {
  height: 20px;
}
