.input{
    height: 50px;
    width: 255px;
    border-radius: 12px;
    background-color: #FEFEE3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Roboto";
}

input{
    background: none;
    border: none;
    margin-left: 12px;
    flex: 1;
}

input:focus{
    outline: none;
}

button{
    margin-right: 8px;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button {
    background-color: #FFC9B9;
}