/* AddTask styling */
.addTaskForm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid rgba(0, 144, 184, 0.851);
  background: rgb(232, 236, 238);
  padding-left: 0px;
}

input.addTask {
  width: 50%;
  height: 50px;
  border: none;
  background: rgb(232, 236, 238);
  font-family: '';
}

.addTaskBtn {
  width: 20%;
  height: 50px;
  border: none;
  background: rgb(232, 236, 238);
  margin: 0px;
}

input::placeholder {
  text-align: left;
  font-size: 20px;
  font-family: 'Caveat';
}

i {
  font-size: 20px;
  color: rgb(133, 155, 161);
}

i:hover {
  color: white;
}

@media (min-width: 600px) {
  .addTaskForm {
    justify-content: center;
  }
}
