.AddTaskWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 25rem;
    padding: 0.5rem;
    border-radius: 2rem;
    gap: 1.2rem;
  }
  
  label {
    display: flex;
  }
  
  .CalendarContainer {
    position: relative;
    width: 30px;
    height: 30px;
  }
  
  input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    height: 3rem;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .AddTaskInput:focus {
    outline: none;
  }
  