:root {
  --pink: #ed86be;
  --blue: #869aed;
  --grey: #a9a9a9;
  --white: #ffffff;
  --black: #000000;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.add-todo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  padding-bottom: 7%;
  margin: 0 auto;
  justify-content: center;
}

.add-todo input {
  font-family: 'Poppins', sans-serif;
  grid-column: span 3;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--grey);
}

.add-todo button {
  grid-column: span 1;
  border-radius: 25px 25px 25px 25px;
  margin: 0;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  font-size: 30px;
  height: 50px;
  width: 50px;
  position: relative;
}

.button p {
  position: absolute;
}

/* STYLING FOR TABLET */
@media screen and (min-width: 768px) {
  .add-todo {
    column-gap: 50px;
    padding-bottom: 10%;
  }
}

/* STYLING FOR DESKTOP */
@media screen and (min-width: 992px) {
  .add-todo {
    padding-bottom: 6%;
  }

  .add-todo button {
    border-radius: 30px 30px 30px 30px;
    font-size: 40px;
    height: 60px;
    width: 60px;
  }
}
