.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.text-field {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  width: 50%;
  padding: 5px;
  margin: 10px 5px 20px 0px;
  font-size: 18px;
}

input:focus {
  outline: none;
}

::placeholder {
  font-size: 15px;
}

.plus-sign {
  font-size: 15px;
}

.add-btn {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
}
