form{
    padding: 32px 0 32px 28px;
}

.add-task{
    background-color: #f1a264;
    /* padding: 2px; */
    border: 2px solid #ec7a1c;
    border-radius: 4px;
    color: #ec7a1c;
    width: 45px;
    height: 45px;
    margin-left: 4px;
    font-size: 32px;
    font-weight: 700;
    padding: 0;
}

.input-task{
    border: 2px solid #ec7a1c;
    background-color: #fffaeb;
    height: 45px;
    width: 270px;
    font-size: 32px;
    color: #ec7a1c;
}