.add-task-container{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 1.5px solid white;
    justify-content: center;
}

.add-task-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly;
    width: 100%; */
}

.input-task {
    padding: 10px;
    padding: 10px 0;
    width: 400px;
    height: 10px;
    background-color: #f5ab92;
    margin-right: 5px;
    font-size: 16px;
}

.add-task-btn {
    /* width: max-content; */
    padding: 3px;
    background-color: #f5ab92;
}

/***** Media ******/
@media (min-width: 375px) and (max-width: 650px) {

.input-task {
    width: 350px;

}

    
}






