.add-todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.add-button {
  color: black;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-radius: 50px;
  font-size: 12px;
}

.input-field {
  border: 2px;
  border-color: black;
  margin-bottom: 10px;
}