.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 100px;
  margin: 5px auto 20px;
  background-color: rgb(248, 127, 147);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 25px;
  width: 90%;
}

input {
  border: none;
  width: 50%;
  height: 30%;
}

.submit-btn {
  border: none;
  background-color: transparent;
  font-size: xx-large;
  color: whitesmoke;
  padding-left: 20px;
}
