.addTask {
    display: flex;
    justify-content: center;
    align-content: center;
   
}

.addButton {
    border: none;
    background: transparent;
    margin-left: 2px;
}

.newTaskInput {
    background: transparent;
    border: none;
    border-bottom: 1px dashed black;
    outline: none;
    font-size: 22px;
    font-family: 'Indie Flower', cursive;
}