.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid black; */
}

.text-field {
  border: 2px solid #608c9b;
  border-radius: 5px;
  background: transparent;
  width: 70%;
  padding: 12px 0px 12px 10px;
  margin: 10px 5px 20px 0px;
  font-size: 18px;
  box-shadow: 3px 3px 3px rgb(82, 82, 82);
}

input:focus {
  outline: none;
}

::placeholder {
  font-size: 15px;
}

.plus-sign {
  font-size: 20px;
  color: black;
}

.add-btn {
  border: 2px solid #608c9b;
  border-radius: 5px;
  background-color: #608c9b;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 3px rgb(82, 82, 82);
}
