.task-form {
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.task-input {
  background-color: #f1f1f6;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}

.task-submit {
  background-color: #daa520;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 2rem;
  flex-shrink: 0;
  margin-left: 0.5rem;
  height: 3.2rem;
  width: 3.2rem;
}

.task-submit:disabled {
  opacity: 0.5;
}

@media screen and (min-width: 668px) {
  .task-form {
    max-width: 600px;
    width: 100%;
  }
}