form{
    padding: 32px 0 32px 28px;
}

.add-task{
    background-color: #6ec5b8;
    /* padding: 2px; */
    border: 2px solid #6ec5b8;
    border-radius: 4px;
    color: #4a8179;
    width: 45px;
    height: 45px;
    margin-left: 4px;
    font-size: 32px;
    font-weight: 700;
    padding: 0;
}

.add-task:hover {
    background-color: #bce9e2;
    border-color: #bce9e2;
    color: #6ec5b8; 
}

.input-task{
    border: 2px solid #6ec5b8;
    background-color: #fffaeb;
    height: 45px;
    width: 270px;
    font-size: 28px;
    color: #ec7a1c;
    padding: 0 0 1px 5px;
    font-family: 'Muli', sans-serif;
}