.clear-button {
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  height: 70%;
  width: 50%;
  color: rgb(242, 241, 241);
  background-color: #AC866F;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);

}

.p-remove-button {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1em;
  color: #fff
}

@media screen and (min-width:500px) {
  .p-remove-button {
    font-size: 1.2em;
  }
}