.slide-top{
    background-color: #6ec5b8;
    border: 2px solid #6ec5b8;
    border-radius: 4px;
    color: #4a8179;
    width: 160px;
    font-size: 32px;
    padding: 4px;
    margin: 24px;
    font-family: 'Muli', sans-serif;
  }

  .slide-top:hover
    {
        background-color: #bce9e2;
        border-color: #bce9e2;
        color: #6ec5b8; 
    }
  