@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;1,600&display=swap');

.mainContent {
  width: 300px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding: 40px;
  /* border: 10px solid rgb(115, 76, 187); */
  border-radius: 30px;
  font-family: 'Archivo Narrow', sans-serif;
  box-shadow:   0 3px 2px rgba(0, 0, 0, 0.034),
  0 7px 15px rgba(0, 0, 0, 0.048),
  0 13px 10px rgba(0, 0, 0, 0.06),
  0 23px 18px rgba(0, 0, 0, 0.072),
  0 42px 40px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  /* box-shadow: 17px 17px 34px #8b8b8bb6, -17px -17px 34px #ffffffbe; */
}
