@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;1,600&display=swap');

.mainContent {
  width: 300px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(254, 245, 255, 0.26);
  padding: 20px;
  border: 10px solid rgb(255, 179, 66);
  border-radius: 30px;
  font-family: 'Archivo Narrow', sans-serif;
}