.new-task {
    display: flex;
    align-items: center;
    min-height: 100px;
    border-bottom: dashed rgb(196, 232, 241) 0.5px;
    font-size: 20px;
    overflow-y:auto;
}

.new-task-btn {
    padding: 0;
    margin: 0 10px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border: none;
    color:  rgb(196, 232, 241);
    background-color: rgba(196, 232, 241, 0);
    outline: none;
}

.new-task-input {
    width: 100%;
    min-height: 100px;
    flex: 1 1 auto;
    border: none;
    font-size: 20px;
    outline: none;
    color: rgb(40, 91, 104);
}

.new-task-input::placeholder {
    font-family: 'Raleway', sans-serif;
    padding-top: 38px;
    color:  rgb(196, 232, 241);
}

.new-task-input:focus, .new-task-input:hover{
    background-color:rgb(196, 232, 241);
}

