.credits-container {
  width: 375px;
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  /* border: 1px dashed white; */
  text-align: center;
  line-height: 150%;
}

.credits {
  font-size: 16px;
  color: rgba(255,255,255,0.54);
}

.credits-container img {
  position: relative;
  top: 1px;
  margin-right: 2px;
}

a {
  color: rgba(255,255,255,0.54);
  text-decoration: none;
}

a:hover {
  color: rgba(255,255,255,1);
}

a:focus {
  color: rgba(255,255,255,0.8);
}
