.form-container {
  margin: 30px;
  display: flex;
  align-items: center;
}

.input-container {
  background-color: #e5fcf5;
  border-top: 3px solid #b3dec1;
  border-bottom: none;
  border-left: none;
  border-right: none;
  height: 55px;
  font-size: 30px;
  color: rgb(114, 12, 105);
  ;
}

.add-button {
  width: 55px;
  height: 55px;
  background-color: #e5fcf5;
  border-top: 3px solid #b3dec1;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: rgb(114, 12, 105);
  margin: 30px;
}