header {
  background-color: #ffc75f;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.header-right {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

h1 {
font-family: 'Abril Fatface', cursive;
font-size: 60px;
margin:10px 0 0 0;
}

hr {
  width:100px;
  border: 2px solid black;
  margin-top: 0;
  color: black;
}

header p{
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  margin:0 0 10px 0;
}