.myheader {
    padding:20px;
    margin-bottom:10px;
    color:White;
    background-size: cover !important;
    background: linear-gradient(170deg, #eb3349, #f45c43);
    top:0;
    z-index: 0;
    position:relative;
}

.myheader h1 {
    margin:0;
}

.myheader p {
    margin:0;
}

.todo-count {
    position:absolute;
    top:20px;
    right:20px;
}

@media only screen and (min-width:599px) {
    .myheader {
        margin-bottom: 20px;
        padding:30px;
    }
}