.header-container{
  background-color:peachpuff;
  padding: 20px;
  width: -webkit-fill-available;
  text-align: center;
  margin: 5px;
}

.completed-task{
display: block;
margin: 20px;
}

.clear-btn{
    margin-top: 20px;
    height: 50px;
    width: 70%;
    background-color: #ffadad;
    border: none;
    font-size: 14px;
    border-radius: 25px;
    padding: 0px;
    font-weight: 500;
    box-shadow: 5px 5px #f5c8b4;
}