

.headerComponent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: midnightblue;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    font-family: 'Shadows Into Light', cursive;
    
    
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 

}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
   
}




.inputfield{
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-bottom: 20px;
  
   
    
   
    
}

.addTaskButton{
    background-color: lightblue;
    color: midnightblue;
   
    padding: 10px;
   
}

