header {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #b3b3b3;
  padding: 20px 0;
  /* border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px; */
}

.item-counter {
  text-align: left;
}

.item-counter p {
  font-size: 14px;
  font-weight: 700;
  align-self: left;
}

.number-total {
  border: 1px solid #608c9b;
  background-color: #608c9b;
  color: white;
  font-weight: 900;
  border-radius: 50%;
  padding: 1px 7px;
}

.number-complete {
  border: 1px solid #00b887;
  background-color: #00b887;
  color: white;
  font-weight: 900;
  border-radius: 50%;
  padding: 1px 7px;
}
