.header-container {
  padding: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-bottom: solid #ffb677; */
  background-color: #6e5773;
  color: #e9e2d0;
}

.header-icon {
  font-size: 35px;
}

.title-container, .info-container {
  display: flex;
  flex-direction: column;
}

.title-container h2 {
  margin: 0px;
  margin-bottom: 15px;
  align-content: center;
  font-size: 30px;
}

.tasks-quantity {
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}