/*--- Utility --- */

.line-through {
  text-decoration: line-through;
  color: gray;
}

/* --- Input --- */
.form-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  width: 90%;
}
label {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 700;
}
input[type='text'] {
  display: inline-block;
  font-size: 1rem;
}

form button[type='submit'] {
  background-color: #57af60;
  min-width: 3rem;
  width: 100%;
  max-width: 5rem;
  font-size: 1rem;
  border-radius: 10px;
  margin: 0.3rem 0;
  transition-timing-function: ease;
  transition: 0.25s;
}

form button[type='submit']:disabled {
  background-color: #bdb9b9;
  color: #868383;
}

/* --- Task List --- */

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-item {
  display: flex;
  width: 90%;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0.5rem 0;
  height: 3rem;
  align-items: center;
  border-radius: 10px;
}

input[type='checkbox'] {
  margin-left: 20px;
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: red;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

input[type='checkbox']:checked {
  color: #57af60;
  background-color: #57af60;
}

button {
  border: none;
  background-color: inherit;
}

button:hover,
button:focus {
  cursor: pointer;
}
button > img {
  width: 20px;
}
