.input {
    height:50px;
    width:80%;
    border-radius: 12px;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.input input {
    background:none;
    border:none;
    margin-left: 12px;
    flex:1;
}

.input input:focus {
    outline: none;
}

.input button {
    margin-right:8px;
    background-color: rgb(214, 213, 213);
    border:none;
    border-radius: 10px;
    height:30px;
    width:50px;
    cursor: pointer;
}

.input button:hover {
    background-color:#eeeeec;
}