.itemListContainer {
    display:flex;
    justify-content: center;
    margin:10px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    /* list-style-type: none; */
    margin:0px;
}