/* CSS file for a list item and its contents */
.list-item {
  padding: 16px;
  display: flex;
  align-items: center;
}

.list-item button {
  height: 32px;
  /* If it's "width" instead of "min-width", the checkbox gets squashed by the growing text.  */
  min-width: 32px;
  padding: 0;
  outline: 0;
  border: none;
  background: none;
  border-radius: 16px;
  box-shadow: 0;
}

.list-button-blue:focus {
  box-shadow: inset 0 0px 0 2px #1890FF;
}

.list-button-blue:hover {
  background: rgba(22,130,230,0.1);
}

.list-button-blue:active {
  background: rgba(22,130,230,0.2);
}

.list-button-gray:focus {
  box-shadow: inset 0 0px 0 2px rgba(0,0,0,0.2);
}

.list-button-gray:hover {
  background: rgba(0,0,0,0.05);
}

.list-button-gray:active {
  background: rgba(0,0,0,0.2);
}

.list-item button img {
  position: relative;
  top: 1px;
}

.list-item p {
  flex-grow: 1;
  margin-left: 8px;
}

.p-is-done-true {
  color: #b7b7b7;
  text-decoration: line-through;
}

.p-is-done-false {
  color: rgba(0,0,0,0.87);
}