/* CSS file for a list item and its contents */

.list-item {
  /* border: 1px dashed greenyellow; */
  padding: 16px;
  display: flex;
  align-items: center;
}

.list-item button {
  height: 24px;
  width: 24px;
  padding: 0;
  /* REMOVE BEFORE SUBMISSION */
  outline: 0;
  border: none;
  background: none;
  border-radius: 12px;
  box-shadow: 0;
}

.list-item button:focus {
  box-shadow: 0 0 0 2px #1890FF;
}

.list-item button:hover {
  background: rgba(22,130,230,0.1);
}

.list-item button:active {
  background: rgba(22,130,230,0.2);
}

.list-item p {
  flex-grow: 1;
  margin-left: 8px;
}

.p-is-done-true {
  color: #b7b7b7;
  text-decoration: line-through;
}

.p-is-done-false {
  color: rgba(0,0,0,0.87);
}