.postedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.emptyList {
  margin-top: 50px;
  color: rgb(0, 0, 0);
  font-family: 'Menlo', sans-serif;
  font-size: 40px;
  animation-name: shake-lr;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: normal;
}

@-webkit-keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}
@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}

.eachItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  padding: 15px;
  border: 1px solid rgb(189, 140, 178);
  box-shadow: 3px 5px rgb(189, 140, 178);
  margin: 5px;
  overflow-wrap: break-word;
}

.todoText {
  font-size: 18px;
  color: #305f72;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.todoTime {
  font-size: 14px;
  color: #568EA6;
}

.removeItem {
  font-size: 18px;
  border: none;
}

.removeItem:hover {
  transition: .3s ease-in-out;
  opacity: .6;
  cursor: grab;
}

.checkBox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

/* .checkBox > span {
  color: #34495E;
  padding: 0.5rem 0.25rem;
} */

.checkBox > input {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  outline: none;
  transition-duration: 0.3s;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.checkBox > input:checked {
  /* border: 1px solid #41B883; */
  background-color: rgb(0, 0, 0);
}

.checkBox > input:checked + span::before {
  display: block;
  text-align: center;
  color: rgb(0, 0, 0);
  position: absolute;
  /* left: 0.7rem;
  top: 0.2rem; */
}

.checkBox > input:active {
  border: 2px solid rgb(255, 255, 255);
}