.postedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

/* .emptyList {
  background-color: tomato;
  width: 100%;
  height: 100px;
} */

.eachItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  padding: 15px;
  border: 2px solid rgb(154, 206, 219);
  margin: 5px;
  overflow-wrap: break-word;
}

.todoText {
  font-size: 18px;
  color: #305f72;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.todoTime {
  font-size: 14px;
  color: #568EA6;
}