.manager-container {
  display: flex;
  background-color: white;
  margin: 0 auto;
  justify-content: space-evenly;
  margin: 20px;
}

.manager-btn {
  font-size: medium;
  border: none;
  background: thistle;
  padding: 10px;
  color: rgb(97, 97, 97);
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

.manager-btn:hover {
  color: rgb(197, 197, 197);
  background: rgb(248, 240, 248);
}
