.manager-btn {
  /* padding-left: 100px; */
  /* width: 180px;
    height: 180px; */
  /* position: absolute;
    right: 20px;
    top: 18px; */
  font-size: x-large;
  border: none;
  background: thistle;
  color: rgb(97, 97, 97);
  /* border-radius: 5px; */
  /* font-weight: 700; */
  /* align-self: flex-end; */
  /* align-items: center; */
  cursor: pointer;
}
