.border {
  border: 2px solid red;
}

.new-task-container {
  display: flex;
  justify-content: center;
}

.new-task-section {
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: #f4f4f4;
}

.new-task-input {
  height: 23px;
  width: 150px;
  margin-right: 10px;
}

.new-task-button {
  box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  background-color: #637aad;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
}

.new-task-button:hover {
  background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  background-color: #5972a7;
}
.new-task-button:active {
  position: relative;
  top: 1px;
}
