.rounded-button {
    width: fit-content;
    height: 20px;
    background-color: rgb(137, 177, 187);
    border: solid white 0.5px;
    border-radius: 10px;
    color: white;
    margin-top:10px;
    outline: none;
}

.rounded-button:hover, 
.rounded-button:focus {
    background-color: white;
    color: rgb(30, 81, 93);
}