@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --pink: #ed86be;
  --blue: #869aed;
  --grey: #a9a9a9;
  --white: #ffffff;
  --black: #000000;
}

.summary {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  width: 260px;
  left: 8%;
  top: 22%;
  color: var(--white);
}
.summary h1 {
  font-size: 35px;
  margin: 0;
  padding: 2% 0;
}
.summary h2 {
  font-size: 20px;
  margin: 0;
  padding: 1% 0;
}
