.todo-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
    /* padding: 0;
    /* border-bottom: 1.5px dotted white; */
    /* margin: 25px 0;
  align-items: baseline;  */
  border-bottom: 1.5px dotted white;
}

ul {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    padding: 0;
    /* border-bottom: 1.5px dotted white; */
    /* margin: 25px 0; */
    width: -webkit-fill-available;
    align-items: baseline;
    margin-top: 25px;
}

/* .checkbox-container {

} */

p {
    font-size: 18px;
}

.checkbox {
    padding: 10px;
    width: 10px;
    height: 10px;
    /* background-color: #f5ab92;
    border-bottom: 1.5px dotted white; */
}

  .checked .text {
    text-decoration: line-through;
    text-decoration-color: white;
  }

.styled-checkbox {
    padding: 10px;
    width: 10px;
    height: 10px;
}