.delete-icon {
  height: 25px;
  width: 25px;
}

.checkbox {
  margin-right: 10px;
  border-bottom: 2px transparent;
}

li {
  font-size: 20px;
  margin-right: 10px;
  border-bottom: 2px solid black;
  width: 270px;
}
