.list-task{
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  background-color: rgba(165, 165, 165, 0.3);
  margin: 5px;
}

.checkbox-and-name{
  display:flex;
  align-items: center;
  margin-left: 10px;
  justify-content: flex-start;
}

.checkbox-label{
  display: inline-flex;
  align-items: center;
  justify-content:center;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
}

.checkmark {
  position: absolute;
  display:inline-flex;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid rgb(182, 77, 252);
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

input:checked + .checkmark::after{
  content: '';
  width: 10px;
  height: 14px;
  background: rgb(182, 77, 252);
  display: inline-block;
  border-radius: 3px;
  border-width: 0 10px 10px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.task-name-p{
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.remove-and-date{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding:10px 0 0 0;
}

.remove-task-button{
  padding: 2px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-right: 10px;
}

.task-added-date{
  font-family: "Montserrat", sans-serif;
  font-size: 0.6em;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}