.task-container {
    padding: 30px;
    background-color: white;
    border-radius: 4px;    
}

h2 {
    margin: 0px;
}

input {
    width: 85%;
    padding: 4px 4px;
    border-radius: 4px;
  }

.add-item-box {
    width: 250px;
    margin: 10px auto;
    clear: both;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #0067FF;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.text {
    clear: both;
    padding: 20px 10px;
    width: 150px;
    font-size: 16px;
    color:white;
    font-weight: 400;
    overflow-wrap: break-word;
}

.card {
    width: 250px;
    margin: 10px auto;
    clear: both;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #0067FF;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card::after {
    clear: both;
    display: block;
    content: "";
}
.card .checkbox-container {
    float: left;
    width: 50px;
    box-sizing: border-box;
    text-align: center;
    
}


/* Styling Checkbox */
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #0067FF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #0067FF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

/* Styling Remove button */

.remove {
    display: block;
    cursor: pointer;
    font-size: 22px;
    height: 30px;
    width: 30px;
    clear: both;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    text-align: center;
    color:  #FFFFFF;
    margin-right: 12px;
}

