
.header {
  display: flex;
  flex-direction: column;
  background-color: royalblue;
  
}

.input-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  
}

h1 {
  font-family: 'Faune';
  font-size: 50px;
  margin: 5px 0 5px 10px;
  color: #fae97e;
}

input {
  background: none;
  border: none;
  margin: 0 10px 0 0;
  font-size: 25px;
  border-bottom: 1px solid rgba(48, 44, 48, 0.7);
  color: rgba(48, 44, 48, 0.9);
  
  width: 70%;
}

input:focus {
  outline: none;
}

button {
  background-color: #fae97e;
  border: none;
  font-family: 'Faune';
  padding: 10px;
  color: rgb(48, 44, 48,);
  box-shadow: pink 4px 4px ;
}

button:hover {
  background-color: #eed661;
}

/** Media queries **/

@media (min-width: 768px ) {

  .header {
   flex-direction: row;
   justify-content: space-between;
   padding: 50px 10px 0 10px;
  }

  input {
    margin: 0 10px 0 0;
    font-size: 25px;
    border-bottom: 1px solid rgba(48, 44, 48, 0.7);
    width: 400px;
    flex: 1;
  }
}

@media (min-width: 992px) {

  .input-wrapper {
    width: 50%;
  }
}



/*.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: purple;
} 

.input-wrapper {
  width: 80%;
  padding: 10px;
  display: flex;
  align-self: flex-end;
  background-color: royalblue;
}

h1 {
  font-family: 'Faune';
  font-size: 50px;
  margin: 0 0 0 20px;
  color: #fae97e;
}

input {
  background: none;
  border: none;
  margin: 0 10px 0 10px;
  flex: 1;
  font-size: 25px;
  border-bottom: 2px solid plum;
  
}

input:focus {
  outline: none;
}

button {
  margin-right: 20px;
  background-color: #fae97e;
  border: none;
  font-family: 'Faune';
  border-radius: 10px;
  padding: 0 5px 0 5px;
  height: 40px;
  
}
*/
