.taskList{
    display: flex; 
    flex-direction: column; 
    
}


/*.task{
 color: midnightblue;
 border-bottom: 2 px solid midnightblue;
   
}*/


p{
    border-bottom: 1.5px solid midnightblue;
    color: midnightblue;
    margin: 0px;
}

ul{
    margin-right: 40px;
}