.taskList{
    display: flex; 
    flex-direction: column;   
}

.listContainer{
    display: flex; 
}

.container{
    display: block;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 30px;
}

.container input{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    border: 1.5px solid midnightblue; 
  }

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: midnightblue;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tasklist.checked {
    text-decoration: line-through;
}

p{
    border-bottom: 1.5px solid midnightblue;
    color: midnightblue;
    margin: 0px;
    font-weight: bold;
}

ul{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px; 
}

.remove-btn-container{
    align-items: baseline;
}

.removeButton{
    border-style: none;
    outline: none;
    cursor: pointer;
}

.tasklist{
   display: flex;
   justify-content: space-between; 
   margin-top: 20px;
   padding: 10px;
   font-size: 2opx;
   width: 100%;
}