.btn-container{
  display: flex;
  justify-content: flex-end;
}

.btn-submit{
  width: 80px;
    height: 40px;
    border: solid;
    background: none;
    border-color: teal;
}
.title{
  font-weight: 800;
  font-size: 30px;
}