.container {
  background-color: #B3DEC1;
  margin: 30px;
  padding: 5px;
  height: 75px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-text {
  color: rgb(114, 12, 105);
  font-size: 40px;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
}

.date-box {
  color: rgb(114, 12, 105);
}

.amount {
  color: rgb(114, 12, 105);
  align-self: flex-end;
}