.list-of-items-container {
  padding: 0px 10px;
  overflow: scroll;
  max-height: 370px;
}

@media only screen and (min-height: 569px) {
  .list-of-items-container {
    max-height: 465px;
  }
}

@media only screen and (min-height: 668px) {
  .list-of-items-container {
    max-height: 530px;
  }
}

@media only screen and (min-height: 738px) {
  .list-of-items-container {
    max-height: 500px;
  }
}

.list-of-items-container::-webkit-scrollbar {
  display: none;
}

.list-of-items {
  list-style-type: none;
  padding: 0px;
  height: 100%;
  place-items: end;
  border-radius: 12px;
  margin: 0px;
}

.item {
  border-radius: 5px;
  background: white;
  padding: 15px 15px;
  margin-bottom: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: relative;
}

.item:hover {
  background-color: #eeeeec;
  transition: 0.2s;
}

.item span {
  display: block;
}

.item input[type='checkbox']:hover, .item button:hover {
  cursor: pointer;
}

.delete {
  padding:5px 25px;
  width:100px;
  border:none;
  background:#ac4646;
  color:white;
  border-radius: 5px;
  font-weight: 700;
  position:absolute;
  right:10px;
  top:10px;
}

.update {
  padding:5px 25px;
  width:100px;
  border:none;
  background:#6fac46;
  color:white;
  border-radius: 5px;
  font-weight: 700;
  position:absolute;
  right:10px;
  bottom:10px;
}

.date {
  font-size: 12px;
  margin-top: 10px;
}

.todo-header {
  font-weight: 600;
}

@media only screen and (min-width: 599px) {
  .item {
    padding: 10px;
    margin-bottom: 20px;
  }

  .list-of-items-container {
    overflow-y: scroll;
    padding: 0px 20px;
  }

  .list-of-items-container::-webkit-scrollbar {
    display: none;
  }

  .date {
    margin-top: 20px;
  }
}
