.container {
  box-sizing: border-box;
  margin: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.item {
  border-radius: 5px;
  background: white;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

.item button:hover {
  cursor: pointer;
}

.item p {
  font-size: 14px;
  margin: 10px;
  color: gray;
}

.item .date {
  font-size: 11px;
  font-style: italic;
}
.completed-item {
  cursor: pointer;
  margin-right: 20px;
}

.done {
  color: lightgray;
  font-style: italic;
  text-decoration: line-through;
}

.done p {
  color: lightgray;
}

.delete-btn {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: large;
  border: none;
  background: #fff;
  color: rgb(97, 97, 97);
  border-radius: 5px;
  align-self: flex-end;
  align-items: center;
  cursor: pointer;
}
