.checkbox-and-item-name {
  display:flex;
  align-items: center;
  margin-left: 10px;
}
.checkbox-label {
  display: inline-flex;
  align-items: center;
  justify-content:center;
}
input[type="checkbox"]{
  /* opacity:0; */
  display:none;
}
.fakeCheckbox{
  border: 2px solid #FFC75F;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
input:checked + .fakeCheckbox::after{
  content: '';
  width: 14px;
  height: 14px;
  background: #FFC75F;
  display: inline-block;
  border-radius: 3px;
}
.checked .text {
  text-decoration: line-through;
  color: green;
}