.todo-item {
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  font-family: 'Manrope', sans-serif;
  text-transform: capitalize;
}

.todo-item.done {
  text-decoration: line-through;
  color: grey;
}

.todo-item-check {
  transform: scale(2);
  margin: 16px;
}

.todo-item-remove {
  cursor: pointer;
  border: none;
  margin-left: 16px;
  margin-top: 3px;
  padding: 3px 7px 3px 7px;
  font-size: 10px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 1000;
  border-radius: 8px;
  background: #F27405;
  opacity: 0.7;
  transition: 0.3s;
}

.todo-item-remove:hover {
  opacity: 1;
}

.todo-item-remove:active {
  background: #F27405;
  box-shadow: inset 20px 20px 60px #ce6304, 
  inset -20px -20px 60px #ff8506;
  transform: translateY(2px);
}

.todo-item-remove:focus {
  outline: none;
}