.border {
  border: 2px solid red;
}

.todo-list-item-container {
  display: flex;
  flex-direction: column;
}

.todo-list-item-title {
  display: flex;
  justify-content: center;
}

.todo-list-item-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
