.todo-input {
  margin: 8px;
  display: flex;
  flex: column;
  font-family: 'Manrope', sans-serif;
  justify-content: center;
}


.todo-input-text {
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  text-transform: capitalize;
}

.todo-input-text:focus {
  border: 3px solid #F2AEB4;
}

.todo-input-button {
  margin: 0 auto;
  padding: 5px;
  display: inline-block;
  width: 7vh;
  height: 6vh;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  margin-left: 14px;
  margin-top: 9px;
  background-color: #F2AEB4;
  color: white;
  border: 1px solid #F2AEB4;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.todo-input-button:hover {
  opacity: 1;
}

.todo-input-button:active {
  box-shadow: inset 20px 20px 60px #ce3e4a, 
  inset -20px -20px 60px #ff5464;
  transform: translateY(2px);
  background: #D93D4A;
}

.todo-input-button:focus {
outline: none;
}

/* ******* MEDIA QUERIES ****** */
@media(max-width:768px){
  .todo-input {
    margin: 0;
  }
  .todo-input-text {
    font-size: 20px;
    width: 100%;
    border: 1px solid #ccc;
  }
  .todo-input-button {
    padding: 5px 10px 5px 5px;
    width: 80px;
    height: 40px;
    font-size: 22px;
    margin-top: 11px;
    border: 1px solid palevioletred;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
    background-color: palevioletred;
    opacity: 1;
  }
  .todo-input-button:active {
    box-shadow: inherit;
    background: palevioletred;
  }
}
