/* .todo-wrapper {
  display: flex;
  width: 100%;
} */

.todo-list {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 20%;
  border-radius: 15px 15px 0 0;
  background-color: var(--white);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.checkbox-wrapper {
  display: flex;
  width: 80%;
  padding: 0 10%;
  align-items: center;
}
