/* .todo-list-container {
  height: 60vh;
} */

.todo-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  border-bottom: 1px solid rgba(217, 222, 218, 0.6);
  width: 100%;
}
.todo {
  grid-column: 2/7;
  overflow-wrap: break-word;
  font-size: 18px;
  text-transform: capitalize;
  padding: 0 5px;
}

.date {
  grid-column: 7/11;
  opacity: 0.6;
  font-size: 14px;
}

.completed {
  opacity: 0.4;
}

.delete-wrapper {
  cursor: pointer;
}

.delete-button {
  grid-column: 11/12;
  justify-self: end;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

/* styling for checkbox */

.round {
  grid-column: 1/1;
  width: 26px;
  height: 26px;
  background-color: var(--white);
  border: 8px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.round:checked {
  background-color: var(--black);

  /* color: var(--black); */
}
/* .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: '';
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
} */

/* .round input[type='checkbox'] {
  visibility: hidden;
} */

/* .round input[type='checkbox']:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type='checkbox']:checked + label:after {
  opacity: 1;
} */
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.delete-all,
.clear-all {
  font-size: 18px;
  height: 50px;
  width: 150px;
  /* font-size: 16px; */
  /* appearance: none; */
  border-radius: 50px;
  background: var(--darkgrey);
  color: var(--black);
  border: none;

  font-weight: bold;
  margin: 40px 10px 20px;
  cursor: pointer;
}

/* STYLING FOR DESKTOP */
@media screen and (min-width: 992px) {
  .todo-card {
    max-width: 600px;
    margin: 0 auto;
  }
}
