/* .todo-wrapper {
  display: flex;
  width: 100%;
} */

/* .todo-list-container {
  display: flex;
  position: relative;
  height: 100%;
  
  width: 100%;
  padding-top: 20%;
  border-radius: 15px 15px 0 0;
  background-color: rgba(252, 134, 76, 0.6);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  
} */
/* 100vh */

.todo-list {
  /* width: 80%;
  display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  border-bottom: 1px var(--grey);
}

.todo {
  grid-column: span 3;
}

/* .checkbox-wrapper {
  display: flex;
  align-items: center;
} */

.completed {
  opacity: 0.4;
}

/* styling for radiobuttons */
input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + span {
  /* opacity: 0.1; */
  cursor: pointer;
}

input[type='checkbox']:checked + span {
  opacity: 0.1;
}

.delete-wrapper {
  /* display: flex;
  align-items: center; */
  cursor: pointer;
}

.delete-button {
  grid-column: span 1;
  /* margin-right: 5px; */
}

/* .fa-trash {
  color: black;
} */
