.form-container{
    display: flex;
  align-items: center;
  justify-content: center;
}
.input-container{
    display: flex;
    align-items: center;



}
.input-child {
    flex: 1;
    border: solid 2px rgb(121, 182, 193);
    border-radius: 0.6rem;
    margin: 1.5rem 0.5rem;
    color: rgb(86, 107, 120);
    font-size: 1rem;
    font-weight: 200;
    height: 3.2rem;
    width: 90%;
    padding: 1.2rem;
  }
  
  .addBtn {
    flex-shrink: 0;
    background-color: rgb(121, 182, 193);
    border-radius: 0.6rem;
    cursor: pointer;
    border: none;
    color: white;
    margin-left: 0.5rem;
    height: 3.2rem;
    padding: 1.2rem;
  }

