
.form-container{
margin-left: 80px;


}
.input-container{
	border: solid 2px  rgb(121, 182, 193);
    border-radius: 5px;
    padding: 2% 1% 2% 5%;
    margin-right: 3%;
	
}

.addBtn{
	background-color: rgb(121, 182, 193);
    border-radius: 15px;
    border: 4px solid rgb(121, 182, 193);
    cursor: pointer;
}