.todo-container{
	width: 90%;
    margin: 2% auto;
}

.todo-child{
	width: 100%;
    display: flex;	
	background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.TodoText{
	display: inline-block;
    flex-basis: 80%;
    margin-left: 5%;

}

