.todo-container{
display: flex;
align-items: center;
  justify-content: center;

}

.todo-child{
    display: flex;	
	justify-content: center;
	
}

.TodoText{
	background-color: rgb(255, 255, 255);
	border: solid 2px  rgb(121, 182, 193);
	width: 90%;
	padding: 10px;
	border-radius: 0.6rem;
	margin: 5px;
	

}

.deleteBtn {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none;
  }
  
  .deleteBtn img {
	width: 100%;
	height:20px;
	margin-top: 9px;
  }

.doneBtn{
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none;

  }
  .doneBtn img {
	width: 100%;
	height: 70px;
	margin-left: 2px;

  }
  
  .AllDone{
	display: flex;
	justify-content: center;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none;
	margin-left: 65px;
  }
  .AllDone img {
	width: 100%;
	height: 100%;
  }


