.buttons {
    display: flex;
    margin:0 30px 0;
    justify-content: space-evenly;
    align-items: center;
}

.btn-remove,
.btn-add,
.btn-clear {
    font-family:inherit;
    font-weight: 700;
}

.btn-remove {
    background-color:rgb(238, 82, 108);
    border-radius: 50%;
}

.btn-add {
    width:90px;
    margin-left:20px;
    border-radius:4px;
    border: solid 1px rgb(189, 189, 68);
    background-color:rgb(254, 254, 158);
    font-size:16px;
    color:rgb(68, 177, 166);
}

.btn-clear {
    width:120px;
    margin: 20px 50px;
    border-radius:4px;
    background-color:rgb(238, 82, 108);
    font-family: 'Gloria Hallelujah';
    font-size:14px;
}
