.status-bar {
  background: #5c7c99;
  color: #eee;
  padding: 10px 10px 10px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.3);
  margin-top: 15px;
}

