.task {
    display:flex;
    margin: 1em 0;
}

.task p {
    margin: 0;
}

form {
    display:flex;
    padding:40px 0;
}

input[type=text] {
    height:20px;
    width: 200px;;
}

.checkbox {
    position: relative;
    margin: 0 20px 0 5px;
    user-select: none;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color:white;
    cursor: pointer;
  }

.checkbox > input:checked {
    background-color:rgb(138, 225, 222);
}

.checkbox > input:focus {
    outline: 1px dotted;
}

.check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    line-height: 1;
}

.summary {
    text-align:right;
    font-size: 16px;
}

.summary p {
    margin:0;
}


@media (min-width: 668px) {

    .summary {
        font-size: 18px;
    }

}