.task {
    display:flex;
    /* margin:10px; */

}

.buttons {
    margin:18px 30px 0;
    justify-content: space-evenly; 
}

input[type=checkbox] {
    margin: 8px 20px 0 5px;
}

input[type=text] {
    height:20px;
    width: 200px;;
}

.btn-remove,
.btn-add {
    font-family:inherit;
    font-weight: 700;
    /* color:rgb(238, 82, 108); */
}

.btn-remove {
    background-color:rgb(238, 82, 108);
    border-radius: 50%;

}

.btn-add {
    color:rgb(68, 177, 166);
    font-size:16px;
    margin-left:20px;
    width:90px;
    border-radius:4px;
    border: solid 1px rgb(189, 189, 68);
    background-color:rgb(254, 254, 158)
}

form {
    padding:40px 0;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    margin-top:30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color:white;
    cursor: pointer;
  }

.checkbox > input:checked {
    background-color:rgb(138, 225, 222);
}

