.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    margin: 50px 20px;
    padding: 40px 10px 40px 10px;
    border-radius: 15px;
    background-color: #F4F6FD;
  }

  .footer-wrapper p {
    color: #708090;
  }

  .footer-wrapper a {
    text-decoration: none;
    color: #708090;
  }