/* Styling for adding section */
.addingTodo {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.addingTodo textarea {
  width: 250px;
  height: 50px;
  resize: none;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-right: 10px;
  border: 2px solid rgb(103, 153, 168);
  box-shadow: 2px 2px rgb(103, 153, 168);
  font-size: 14px;
  color: #16454b;
}

.addingTodo textarea::placeholder {
  padding: 3px;
  font-family: 'Menlo', sans-serif;
}

.addingTodo button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: .3s ease-in-out;
  border: 1px solid rgb(103, 153, 168);
  color: rgb(103, 153, 168);
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Menlo', sans-serif;
}

.addingTodo button:disabled {
  transform: scale(0.8);
  border: 1px solid rgba(103, 153, 168, 0.603);
  color: rgba(103, 153, 168, 0.349);
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.addingTodo button:disabled:hover {
  animation: none;
}

.addingTodo button:hover {
  animation-name: heartbeat;
  animation-iteration-count: infinite;
  animation-duration: 1.4s;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
        transform: scale(1);
    -webkit-transform-origin: center center;
        transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
        transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
        transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
        transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
        transform: scale(1);
    -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
        transform: scale(1);
    -webkit-transform-origin: center center;
        transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
        transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
        transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
        transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
        transform: scale(1);
    -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
  }
}

/* Adjusted for mobile */
@media (max-width: 668px) {
  .addingTodo{
    width: 100%;
  }

  .addingTodo textarea {
    width: 80%;
  }
}