.button {
  font-family: 'Gotham-Bold';
  border: 2px solid #F9EFE5;
  background-color: transparent;
  color: #F9EFE5;
  text-transform: uppercase;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #9A9653;
  /* background-color: #F25849; */
  border-radius: 10px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.text-input {
  font-family: 'Gotham-Medium';
  width: 80%;
  height: 25px;
  margin: 20px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  background-color: #F9EFE5;
  padding-left: 10px;
}

.button {
  border-radius: 20px;
  padding: 10px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.button-text {
  position: relative;
  top: 1px;
}