.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  /* width: 100px; */
}


.clear-all-button {
  font-family: 'Gotham-Medium';
  color: #3e4e8a;
  background: transparent;
  border: none;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.clear-all-button:hover {
  color: lightcoral;
}