/* Clear all component - with button, alert, left to do */
.clearContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.clearAll {
  margin: 30px 0px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(216, 162, 207);
  color: white;
  border: none;
  outline: none;
  font-family: 'Menlo', sans-serif;
  font-size: 14px;
  transition: .4s ease-in-out;
}

.clearAll:hover {
  transform: scale(0.9);
}

.amountOf {
  margin-top: 20px;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.692);
  font-size: 14px;
  text-align: center;
  font-family: 'Menlo', sans-serif;
  text-align: center;
}

.pep {
  font-size: 12px;
  color: rgb(214, 183, 216);
  margin-top: 0;
}

/* If nothing left todo - hide element */
.clearAll:disabled {
  display: none;
}

.noAmount {
  display: none;
}

/* SweetAlert styling */
.swal-button--danger {
  background-color: teal;
}

.swal-modal {
  border-radius: 20px;
}