.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #FFC3AB;
  color: #B95822;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.input-and-task {
  display: flex;
  align-items: center;
}

.text {
  padding-left: 20px;
}

.x-button {
  font-family: 'Gotham-Medium';
  color: #B95822;
  font-size: large;
  background-color: transparent;
  border: none;
}