.main-container {
    display: flex;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    /*align-items: center;*/
    width: 300px;
    border-radius: 2px;
    background-color: white;
    padding: 25px;
    margin-top: 15px;
}

@media (min-width: 668px) {

    .list-container {
        margin-top: 30px;
        width: 300px;
    }
}