.task-count-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
    border-radius: 2px;
    background-color: white;
    padding: 15px 25px 15px 25px;
    margin-top: 20px;
}


.task-count-text {
    font-size: 16px;
    font-weight: 600;
    color: #ECB390;
    margin: 5px 0px 5px 0px;
}