ul {
    padding: 0;
}

.task-row {
    display: flex;
    justify-content: space-between;
}

.task-item {
    display: flex;
    margin: 14px 0px 10px 0px;
}

.todo-text {
    display: flex;
    font-size: 18px;
}

.delete-single-task-button {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    background: none;
    border: none;
    color: #DF7861;
    padding: 0;
    align-self: flex-end;
    margin: 8px 18px 2px 0px;
}

.delete-single-task-button:hover {
    color: #b64d35;
    cursor: pointer;
}

hr {
    height: 2px;
    width: 100%;
    border-width: 0;
    background-color: #D4E2D4;
    margin: 0px;
  }

.invisible-text {
    font-size: 15px;
    margin: 10px 0px 10px 0px;
    color: white;
}

.delete-all-tasks-button {
    font-family: 'Permanent Marker', cursive;
    font-size: 14px;
    background: none;
    border: 2px solid #c8c8c8;
    border-radius: 5px;
    color: #767676;
    align-self: flex-end;
}

.delete-all-tasks-button:hover {
    background-color: #c8c8c8;
}

[type="checkbox"] {
    opacity: 0;
}


[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    color: #DF7861;
    border-radius: 100%;
    line-height: 15px;
}

[type="checkbox"] + label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    outline: 2px solid #D4E2D4;
    background-color: white;
}

[type="checkbox"]:checked + label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    outline: 2px solid #D4E2D4;
    color: #D4E2D4;
    background: white;
}

[type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    text-align: center;
    background-image: url('assets/form-checkmark.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(0.9);
    opacity: 1;
    transition: all .3s ease;
}

[type="checkbox"]:not(:checked) + label::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-size: contain;
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease;
}