.todo-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
} 

p.completed {
  font-size: 25px;
  margin: 0;
  padding-top: 8px;
}

button {
  background-color: #c0b5fe;
  padding: 5px 20px 5px 20px;
  margin-top: 20px;
  color: white;
}
