.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  border-style: dashed;
  border-width: 1px;
  border-style: dashed;
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  border-color: #bbb;
  max-width: 360px;
  overflow-wrap: break-word;
}

.todo-item.done {
  text-decoration: line-through;
  color: darkgreen;
}

.todo-item-check {
  transform: scale(2);
  margin: 5px;
}

.todo-item-remove {
  cursor: pointer;
  margin: 8px;
  font-size: 14px;
  color: darkolivegreen;
}

.todo-item-category {
  font-size: 15px;
  background-color: #7473f2;
  padding: 5px;
  border-radius: 50px;
  color: white;
  margin-right: 5px;
}

.todo-item-category work {
  background-color: yellow;
}

p.item-text {
  margin: 0 0 0 10px;
}