.todo-input {
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.todo-input-text {
  font-size: 22px;
  width: 100%;
  padding: 15px;
  border-style: none;
  font-family: 'Quicksand', sans-serif;
  outline: none;
}

/* .todo-input-button {
  padding: 8px;
  font-size: 30px;
  font-weight: bold;
  border-style: none;
} */

.todo-input-text:focus {
  outline:none;
}