/* –––– General styles –––– */

* {
  box-sizing: border-box;
}

html, body, #root, .wrapper {
  height: 100%;
}

body {
  margin: 0;
  color: $darkCol;
  background-color: $lightCol;
  font-size: 16px;
  font-family: 'Avenir', 'Helvetica', 'sans-serif';
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  >* {
    width: 100%;
  }
}

.main-content {
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
}


/* –––– Header –––– */

header {
  flex: 0 1 auto;
  padding: 2rem;

  background-color: $primaryCol;
  color: #fff;
}



/* –––– Add Item –––– */

.add-item {
  display: flex;
  justify-content: space-between;
}

input[type=text] {
  flex: 1 1 auto;
  border: 0;
  padding: 1rem;
  font-weight: 500;
  border-radius: $borderRadiusSmall;
}

.add-btn {
  text-align: center;
  background-color: $primaryCol;
  color: #fff;
  margin-left: 1rem;
  padding: 0rem 1.2rem;
  border-radius: $borderRadiusSmall;
  font-weight: 700;
}


/* –––– Item data –––– */

.item-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .2rem;
  margin-top: 3rem;
}

.items-count {
  color: $primaryCol;
  font-size: .85rem;

  span {
    margin-left: .5rem;
  }
}

.btn-clear {
  // background-color: darken($lightCol, 10%);
  background-color: transparent;
  color: $primaryCol;
  border-radius: $borderRadiusSmall;
  // padding: .2rem .5rem;
  font-size: .85rem;
  font-weight: 700;

  span {
    margin-left: .4rem;
  }
}


/* –––– Items list –––– */

.items-list {
  margin-top: 2rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top-left-radius: $borderRadiusMedium;
  border-top-right-radius: $borderRadiusMedium;
  border-bottom-left-radius: $borderRadiusMedium;
  border-bottom-right-radius: $borderRadiusMedium;
  background-color: #fff;

  & + .item {
    margin-top: 1rem;
  }
}

.item-desc {
  flex: 1 1 auto;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.completed {
  * {
    color: $mediumCol;
  }
  .item-desc {
    text-decoration: line-through;
  }
}

.remove-btn {
  padding: 2rem 1.5rem;
  border: 0;
  background-color: transparent;
  font-size: .8rem;
}

.empty-state {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  img {
    width: 100%;
    max-width: 700px;
  }

  h2 {
    text-align: center;
  }
}