/* –––– General styles –––– */

* {
  box-sizing: border-box;
}

html, body, #root, .wrapper {
  height: 100%;
}

body {
  margin: 0;
  color: $darkCol;
  background-color: $lightCol;
  font-size: 16px;
  font-family: 'Avenir', 'Helvetica', 'sans-serif';
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  margin: 0;
  letter-spacing: -.1rem;
}

button {
  border: 0;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  >* {
    width: 100%;
  }
}

.main-content {
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
}



