.checkbox-container {
  position: relative;
  flex: 0 0 auto;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;

  // Hide input tag
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  // Add custom checkbox element
  .checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;

    background-color: transparent;
    border: 2px solid $primaryCol;
    border-radius: 50%;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $primaryCol;
    }

    // Checkmark
    &::after {
      position: absolute;
      content: '';
      top: 12px;
      left: 12px;
      height: 0;
      width: 0;

      border: solid #fff;
      border-width: 0 2px 2px 0;
      transition: all .3s ease-out;

      -webkit-transform: rotate(0deg) scale(0);
      -ms-transform: rotate(0deg) scale(0);
      transform: rotate(0deg) scale(0);
    }
  }

  // Checkbox is checked
  input:checked ~ .checkbox-custom {
    background-color: $primaryCol;

    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);

    // Checkmark
    &::after {
      top: 2px;
      left: 7px;
      height: 10px;
      width: 5px;

      -webkit-transform: rotate(45deg) scale(1);
      -ms-transform: rotate(45deg) scale(1);
      transform: rotate(45deg) scale(1);
    }
  } 
}

