.checkbox-container {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;

    background-color: transparent;
    border: 2px solid $primaryCol;
    border-radius: 50%;
    transition: all 0.3s ease-out;

    &::after {
      position: absolute;
      content: '';
      top: 12px;
      left: 12px;
      height: 0;
      width: 0;

      border: solid #fff;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(0deg) scale(0);
      -ms-transform: rotate(0deg) scale(0);
      transform: rotate(0deg) scale(0);
      opacity: 1;
      transition: all .3s ease-out;
    }
  }

  input:checked ~ .checkbox-custom {
    background-color: $primaryCol;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;

    &::after {
        -webkit-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
        left: 7px;
        top: 2px;
        width: 5px;
        height: 10px;

        border: solid #fff;
        border-width: 0 2px 2px 0;
        background-color: transparent;
        border-radius: 0;
        opacity: 1;
      }
  } 
}

