/* –––– Items list –––– */

.items-list {
  margin-top: 1rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: $borderRadiusMedium;
  background-color: #fff;

  & + .item {
    margin-top: 1rem;
  }
  
  .item-desc {
    flex: 1 1 auto;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .remove-btn {
    padding: 2rem 1.5rem;
    border: 0;
    background-color: transparent;
    color: $primaryCol;
    font-size: .8rem;
  }
}

.completed {
  * {
    color: $mediumCol;
  }
  .item-desc {
    text-decoration: line-through;
  }
}


