
.input {
    height: 50px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

input {
    background: none;
    border: none;
    margin-left: 12px;
    flex: 1;
}

input:focus {
    outline: none;
}
