.header-container h1 {
    color: white;
    margin-top: 0.5rem;
    font-family: 'Mitr', sans-serif;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

@media only screen and (min-width: 1025px) {
    .header-container h1 {
      font-size: 4rem;
    }
  }